extends layout

block content
  .container
    .row
      .span11
        h1 LUNTEG
    each movie, index in mp4files
      .row.movie
        .span1.offset1
          .movie-index #{index}
        .span9
          a.movie-link(href="/video/#{movie.fileName}") #{movie.title}
