extends layout

block content
  .container
    .row
      .span12
        h1 LUNTEG
    .row
      .span12
        table(class='table table-striped table-bordered')
          tr
            th #
            th File Name
          each videoFile, index in mp4files
            tr
              td #{index}
              td
                a(href='/video/#{videoFile}', class='btn')
                  span #{videoFile}
                  i(class="icon-play")